.GoalData, .GoalDataMobile {
    text-align: center;
}

.GoalData .GoalDataNumber {
    font-size: 1.3rem; /* Font size set to 1rem */
    font-weight: bold; /* Make font bolder */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add subtle text shadow for clarity */
    font-family: 'Trebuchet MS', sans-serif; /* Apply font here */
}

.GoalData .GoalDataText {
    font-size: 1.1rem; /* Font size set to 1rem */
    color: #4e4c4c;
    text-align: center;
    line-height: 1.5; /* Increased line height for readability */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add subtle text shadow for clarity */
    font-family: 'Trebuchet MS', sans-serif; /* Apply font here */
}

.GoalDataMobile .GoalDataNumber {
    font-size: 1rem; /* Font size set to 1rem */
    font-weight: bold; /* Make font bolder */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add subtle text shadow for clarity */
    font-family: 'Trebuchet MS', sans-serif; /* Apply font here */
}

.GoalDataMobile .GoalDataText {
    font-size: 1rem; /* Font size set to 1rem */
    color: #525050;
    text-align: center;
    line-height: 1.5; /* Increased line height for readability */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add subtle text shadow for clarity */
    font-family: 'Trebuchet MS', sans-serif; /* Apply font here */
}
